@import "mixins";
@font-face {
  font-family: "Heebo-Light";
  src: url("../assets/fonts/Heebo-Light.ttf") format("truetype");
}

@font-face {
  font-family: "Heebo-Medium";
  src: url("../assets/fonts/Heebo-Medium.ttf") format("truetype");
}

@font-face {
  font-family: "Heebo-Regular";
  src: url("../assets/fonts/Heebo-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Heebo-Black";
  src: url("../assets/fonts/Heebo-Black.ttf") format("truetype");
}

html, body, #q-app {
  height: 100%;
  font-family: Heebo-Medium, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

.sol-main-links {
  font-size: 16px;
}

.sol-form-grid {
  @include setGridAuto(auto, 20px, "rows");
}
